{
  "root": true,
  "env": {
    "browser": true,
    "es2017": true,
    "node": true,
    "jest": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": true,
    "ecmaVersion": 5,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:import/recommended",
    "next/core-web-vitals",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "@next/next/no-html-link-for-pages": ["error", "apps/www/src/pages/"],
    "@typescript-eslint/array-type": "off",
    "@typescript-eslint/consistent-type-definitions": "off",
    "@typescript-eslint/consistent-type-imports": [
      "warn",
      {
        "prefer": "type-imports",
        "fixStyle": "inline-type-imports"
      }
    ],
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "^_"
      }
    ],
    "import/no-unresolved": "error",
    "import/first": "error",
    "import/named": "off",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "sort-keys-fix/sort-keys-fix": "warn",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "printWidth": 140,
        "semi": false,
        "trailingComma": "none"
      }
    ]
  },
  "plugins": ["@typescript-eslint", "sort-keys-fix", "simple-import-sort", "import"],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true, // always try to resolve types under `<root>@types` directory even it doesn't contain any source code, like `@types/unist`
        "project": [
          "apps/*/tsconfig.json"
        ]
      }
    }
  },
	"ignorePatterns": ["node_modules/", ".next/"]
}
